html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../../public/back.jpg');
  background-size: cover;
  font-family: 'friz-quadrata'; 
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'friz-quadrata';
  src: url(../../public/fonts/friz-quadrata-std-italic-587033b2c95df.otf);
}

.App {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: aqua;
}

p {
  color: aqua;
  width: 60%;
  font-size: 2em;
  text-align: center;
}

.divAnim {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anim-enter {
  opacity: 0;
}

.anim-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.anim-exit {
  opacity: 1;
}

.anim-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.qanim-in {
  animation: qanimIn ease 1s;
}

.qanim-out {
  animation: qanimOut ease 1s;
}

@keyframes qanimIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes qanimOut {
  0% {opacity:1;}
  100% {opacity:0;}
}